@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /* ### Primary */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: var(--Red) url("images/bg-intro-mobile.png");
}
.container {
  margin: 8vw 8vw 4vw 8vw;
}
.info {
  color: white;
  text-align: center;
  padding: 8vw 0;
}
.info h1 {
  padding: 5vw 6vw;
  font-weight: 700;
}
.info p {
  font-weight: 400;
}
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer {
  background-color: var(--Blue);
  text-align: center;
  padding: 5vw 15vw;
  margin: 5vw 0;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: 0 10px hsl(249, 10%, 26%, 20%);
}
.offer span {
  font-weight: 600;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5vw 8vw;
  border-radius: 10px;
  box-shadow: 0 10px hsl(249, 10%, 26%, 20%);
}
.form input {
  padding: 3vw;
  font-weight: 600;
  color: var(--Dark-Blue);
  margin: 3vw 0;
  border: 1px solid var(--Grayish-Blue);
  border-radius: 5px;
}
.form p {
  font-size: 10px;
  font-weight: 400;
  padding: 1vw 4vw;
  text-align: center;
  color: var(--Grayish-Blue);
}
.form p span {
  color: var(--Red);
  font-weight: 600;
}
#submit {
  color: white;
  background-color: var(--Green);
  padding: 4vw 3vw;
  text-transform: uppercase;
  border: 1px solid var(--Green);
  box-shadow: 0 5px hsl(154, 59%, 45%);
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4vw;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
